<table class="product-table">
    <!-- Product Name and Price Display -->
    <tr>
        <td [class]="myColor">{{ productName }}</td>
        <td>{{ productPrice }}</td>
    </tr>

    <!-- Input Fields -->
    <tr>
        <td>
            <input type="text" [(ngModel)]="productName" />
        </td>
        <td>
            <input type="text" [attr.maxlength]="maxLength" [(ngModel)]="productPrice" />
        </td>
    </tr>

    <!-- Buttons -->
    <tr>
        <td>
            <button (click)="showWelcome()">Message</button>
        </td>
        <td class="button-group">
            <button (click)="productName = 'iPhone 17 Pro Max'">Change Name</button>
            <button (click)="changeProductName('iPhone 13 Pro Max')">Change Name 2</button>
        </td>
    </tr>

    <!-- Input and Display -->
    <tr>
        <td class="highlight">
            <span>{{ input || 'Enter' }}</span>
        </td>
        <td>
            <input #nameInput type="text" placeholder="Enter name" />
            <div class="button-group">
                <button class="button bg-gray-300 p-1 rounded rounded-3 mt-1" (click)="input = nameInput.value">Set Text</button>
                <button class="button bg-gray-300 p-1 rounded rounded-3 mt-1" [hidden]="!input" (click)="clear()">Clear</button>
            </div>
        </td>
    </tr>

    <tr>
        <td class="highlight">
            <span>{{ input}}</span>
        </td>
        <td>
            <input type="text" [(ngModel)]="input" placeholder="Enter name" />
        </td>
    </tr>

    <!-- Dropdown -->
    <tr>
        <td colspan="2">
            <select (change)="onCityChange()">
                <option value="Colombo">Colombo</option>
                <option value="Gampaha">Gampaha</option>
                <option value="Nuwara">Nuwara</option>
            </select>
        </td>
    </tr>

    <!-- Two-way Binding Input -->
    <tr>
        <td colspan="2">
            <label for="typeHere">Type Here:</label>
            <input id="typeHere" type="text" [(ngModel)]="productName" />
        </td>
    </tr>


</table>