<div class="grid lg:grid-cols-2 gap-4 p-2">
    <div class="row">
        <div class="card">
            <div class="card-header bg-green-600 rounded">
                <h5 class="text-white font-bold p-2">User Details</h5>
            </div>
            <div class="card-body mt-6">
                <table>
                    <thead>
                        <tr>
                            <th class="border px-4 py-2">ID</th>
                            <th class="border px-4 py-2">Name</th>
                            <th class="border px-4 py-2">Email</th>
                            <th class="border px-4 py-2">Password</th>
                            <th class="border px-4 py-2">mobile</th>
                            <th class="border px-4 py-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of userList; track $index) {
                        <tr>
                            <td class="border px-4 py-2">{{ item.userId }}</td>
                            <td class="border px-4 py-2">{{ item.fullName }}</td>
                            <td class="border px-4 py-2">{{ item.emailId }}</td>
                            <td class="border px-4 py-2">{{ item.password }}</td>
                            <td class="border px-4 py-2">{{ item.mobileNo }}</td>
                            <td class="border px-4 py-2 flex justify-content-center align-items-center">
                                <button (click)="onEdit(item)" type="button"
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 m-1 rounded focus:outline-none focus:shadow-outline">Edit</button>
                                <button (click)="onDelete(item)" type="button"
                                    class="bg-red-600 hover:bg-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none m-1 focus:shadow-outline">Delete</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header bg-green-600 rounded">
                <h5 class="text-white font-bold p-2">New User</h5>
            </div>
            <div class="card-body mt-6">
                <form #formValue="ngForm">
                    <div class="row">

                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                                Name
                            </label>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                type="text" #name="ngModel" required [(ngModel)]="userObject.fullName" name="fullName">
                            @if (name.touched) {
                            @if (name.errors?.['required']) {
                            <span class="text-red-500">Name is required</span>
                            }
                            }
                        </div>

                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                                Email
                            </label>
                            <input
                                class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                                type="email" #email="ngModel" required
                                pattern="\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="userObject.emailId"
                                name="emailId">
                            @if (email.touched) {
                            @if (email.errors?.['required']) {
                            <span class="text-red-500">Email is required</span>
                            }
                            @if (email.errors?.['pattern']) {
                            <span class="text-red-500">Email must be a valid email address</span>
                            }}
                        </div>

                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                                Password
                            </label>
                            <input
                                class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                                type="password" #pwd="ngModel" required minlength="6" [(ngModel)]="userObject.password"
                                name="password">
                            @if (pwd.touched) {
                            @if (pwd.errors?.['required']) {
                            <span class="text-red-500">Password is required</span>
                            }
                            @if (pwd.errors?.['minlength']) {
                            <span class="text-red-500">Password must be at least 6 characters long</span>
                            }
                            }
                        </div>

                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                                Mobile
                            </label>
                            <input
                                class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                                type="text" #mobile="ngModel" required minlength="10" maxlength="10"
                                [(ngModel)]="userObject.mobileNo" name="mobileNo">
                            @if (mobile.touched) {
                            @if (mobile.errors?.['required']) {
                            <span class="text-red-500">Mobile number is required</span>
                            }
                            @if (mobile.errors?.['minlength'] || mobile.errors?.['maxlength']) {
                            <span class="text-red-500">Mobile number must be 10 digits</span>
                            }
                            }
                        </div>

                        <button (click)="reset()"
                            class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 m-1 rounded focus:outline-none focus:shadow-outline"
                            type="button">
                            Reset
                        </button>

                        <div class="flex items-center">
                            @if (userObject.userId == 0) {
                            <button [disabled]="formValue.invalid" (click)="onUserSave()"
                                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 m-1 rounded focus:outline-none focus:shadow-outline"
                                type="button">
                                Sign In
                            </button>
                            }@else {
                            <button (click)="onUserUpdate()"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 m-1 rounded focus:outline-none focus:shadow-outline"
                                type="button">
                                Update
                            </button>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>