<div class="row">
    <div class="col-3 p-2 m-2" [ngClass]="div1()">
        div 1
    </div>

    <div class="col-3">
        <button (click)="setBgClass('bg-green-500')"
            class="button bg-green-500 rounded rounded-2 p-2 m-2 text-white">Green Button</button>

        <button (click)="setBgClass('bg-red-500')" class="button bg-red-500 rounded rounded-2 p-2 m-2 text-white">Red
            Button</button>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-3 p-2 m-2 text-white" [ngStyle]="{'background-color': isdiv2Green? 'blue':'purple'}">
        div 2
    </div>

    <div class="col-3">
        <button (click)="toggleColor()" class="button bg-gray-500 rounded rounded-2 p-2 m-2 text-white">Toggel Button
            color</button>
    </div>
</div>

<div class="row">
    <div class="col-3 p-2 m-2 ">
        <strong> Name : </strong>{{name}}
        <br>
        <strong> Uppercase Name : </strong>{{name | uppercase}}
        <br>
        <strong> Lowercase Name : </strong>{{name | lowercase}}
        <br>
        <strong> Titlecase Name : </strong>{{name | titlecase}}
    </div>
</div>

<div class="row">
    <div class="col-3 p-2 m-2 ">
        <strong> Name List : </strong>{{namelist}}
        <br>
        <strong> Slice Name List 1 to 3: </strong>{{namelist | slice:1:3}}
    </div>
</div>

<div class="col-3 p-2 m-2 ">
    <strong> Student Object : </strong>{{studentObject }}
    <br>
    <strong> Student Object in json : </strong>{{studentObject | json}}
    <br>
    <strong> Student Name : </strong>{{studentObject.name}}
    <br>
    <strong> Student Age : </strong>{{studentObject.age}}
    <br>
    <strong> Student City : </strong>{{studentObject.city}}
</div>

<div class="row">
    <div class="col-3 p-2 m-2 ">
        <strong> Current Date : </strong>{{currentDate | date:'fullDate'}}
        <br>
        <strong> Current Date with time : </strong>{{currentDate | date:'short'}}
        <br>
        <strong> Current Date with custom format : </strong>{{currentDate | date:'dd/MM/yyyy mm:hh'}}
    </div>
</div>

<div class="row">
    <div class="col-3 p-2 m-2 ">
        <strong> Amount : </strong>{{amount}}
        <br>
        <strong> Amount with currency : </strong>{{amount | currency:'LKR '}}
        <br>
        <strong> Amount with currency and custom symbol : </strong>{{amount | currency:'LKR ':'symbol':'1.2-2'}}
    </div>
</div>

